metadata_dict/hr_wd_valid.xml

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wd-wsdl="urn:com.workday/bsvc/Human_Resources" xmlns:wd="urn:com.workday/bsvc" xmlns:nyw="urn:com.netyourwork/aod" elementFormDefault="qualified" attributeFormDefault="qualified" targetNamespace="urn:com.workday/bsvc">
<xsd:element name="Business_Site_Find" type="wd:Business_Site_FindType"/>
<xsd:element name="Validation_Fault" type="wd:Validation_FaultType"/>
<xsd:element name="Processing_Fault" type="wd:Processing_FaultType"/>
<xsd:element name="Organization_Reference" type="wd:Organization_ReferenceRootType"/>
<xsd:element name="Contingent_Worker_Contract_Info_Get" type="wd:Contingent_Worker_Contract_Info_GetType"/>
<xsd:element name="Worker_Profile_Get" type="wd:Worker_Profile_GetType"/>
<xsd:element name="Organization_Structure_Dissolve" type="wd:Organization_Structure_DissolveType"/>
<xsd:element name="Organization_Find" type="wd:Organization_FindType"/>
<xsd:element name="Organization_Get" type="wd:Organization_GetType"/>
<xsd:element name="Employee_Personal_Info_Update" type="wd:Employee_Personal_Info_UpdateType"/>
<xsd:element name="Business_Site_Get" type="wd:Business_Site_GetType"/>
<xsd:element name="Employee_Employment_Info_Get" type="wd:Employee_Employment_Info_GetType"/>
<xsd:element name="Employee_Personal_Info_Get" type="wd:Employee_Personal_Info_GetType"/>
<xsd:element name="Contingent_Worker_Personal_Info_Update" type="wd:Contingent_Worker_Personal_Info_UpdateType"/>
<xsd:element name="Contingent_Worker_Personal_Info_Get" type="wd:Contingent_Worker_Personal_Info_GetType"/>
<xsd:element name="Organization_Inactivate" type="wd:Organization_InactivateType"/>
<xsd:element name="Business_Site_References" type="wd:Business_Site_ReferencesType"/>
<xsd:element name="Employee_Employment_Info" type="wd:Employee_Employment_InfoType"/>
<xsd:element name="Organization_Add_Update" type="wd:Organization_Add_UpdateType"/>
<xsd:element name="Organization_References" type="wd:Organization_ReferencesType"/>
<xsd:element name="Employee_Personal_Info" type="wd:Employee_Personal_InfoType"/>
<xsd:element name="Employee_Related_Persons_Get" type="wd:Employee_Related_Persons_GetType"/>
<xsd:element name="Employee_Related_Persons" type="wd:Employee_Related_PersonsType"/>
<xsd:element name="Worker_Profile" type="wd:Worker_ProfileType"/>
<xsd:element name="Get_Locations_Request" type="wd:Get_Locations_RequestType"/>
<xsd:element name="Get_Locations_Response" type="wd:Get_Locations_ResponseType"/>
<xsd:element name="Contingent_Worker_Contract_Info" type="wd:Contingent_Worker_Contract_InfoType"/>
<xsd:element name="Business_Site" type="wd:Business_SiteType"/>
<xsd:element name="Contingent_Worker_Personal_Info" type="wd:Contingent_Worker_Personal_InfoType"/>
<xsd:element name="Get_Previous_System_Job_History_Request" type="wd:Get_Previous_System_Job_History_RequestType"/>
<xsd:element name="Get_Previous_System_Job_History_Response" type="wd:Get_Previous_System_Job_History_ResponseType"/>
<xsd:element name="Server_Timestamp_Get" type="wd:Server_Timestamp_GetType"/>
<xsd:element name="Server_Timestamp" type="wd:Server_TimestampType"/>
<xsd:element name="Employee_Image_Update" type="wd:Employee_Image_UpdateType"/>
<xsd:element name="Employee_Get" type="wd:Employee_GetType"/>
<xsd:element name="Employee" type="wd:EmployeeType"/>
<xsd:element name="Contingent_Worker_Get" type="wd:Contingent_Worker_GetType"/>
<xsd:element name="Contingent_Worker" type="wd:Contingent_WorkerType"/>
<xsd:element name="Worker_Event_History_Get" type="wd:Worker_Event_History_GetType"/>
<xsd:element name="Worker_Event_History" type="wd:Worker_Event_HistoryType"/>
<xsd:element name="Workday_Account_for_Worker_Update" type="wd:Workday_Account_for_Worker_UpdateType"/>
<xsd:element name="Workday_Account_for_Worker_Add" type="wd:Workday_Account_for_Worker_AddType"/>
<xsd:element name="Employee_Image_Get" type="wd:Employee_Image_GetType"/>
<xsd:element name="Employee_Image" type="wd:Employee_ImageType"/>
<xsd:element name="Get_Work_Shifts_Request" type="wd:Get_Work_Shifts_RequestType"/>
<xsd:element name="Get_Job_Categories_Request" type="wd:Get_Job_Categories_RequestType"/>
<xsd:element name="Get_Workers_Request" type="wd:Get_Workers_RequestType"/>
<xsd:element name="Get_Workers_Response" type="wd:Get_Workers_ResponseType"/>
<xsd:element name="Put_Dependent_Request" type="wd:Put_Dependent_RequestType"/>
<xsd:element name="Put_Dependent_Response" type="wd:Put_Dependent_ResponseType"/>
<xsd:element name="Get_Organizations_Request" type="wd:Get_Organizations_RequestType"/>
<xsd:element name="Get_Organizations_Response" type="wd:Get_Organizations_ResponseType"/>
<xsd:element name="Organization" type="wd:OrganizationType"/>
<xsd:element name="Put_Workers_Compensation_Code_Request" type="wd:Put_Workers_Compensation_Code_RequestType"/>
<xsd:element name="Get_Workers_Compensation_Codes_Request" type="wd:Get_Workers_Compensation_Codes_RequestType"/>
<xsd:element name="Get_Workers_Compensation_Codes_Response" type="wd:Get_Workers_Compensation_Codes_ResponseType"/>
<xsd:element name="Put_Workers_Compensation_Code_Response" type="wd:Put_Workers_Compensation_Code_ResponseType"/>
<xsd:element name="Get_External_URLs_Request" type="wd:Get_External_URLs_RequestType"/>
<xsd:element name="Get_External_URLs_Response" type="wd:Get_External_URLs_ResponseType"/>
<xsd:element name="Get_Holiday_Calendars_Request" type="wd:Get_Holiday_Calendars_RequestType"/>
<xsd:element name="Get_Holiday_Calendars_Response" type="wd:Get_Holiday_Calendars_ResponseType"/>
<xsd:element name="Get_Work_Schedule_Calendars_Request" type="wd:Get_Work_Schedule_Calendars_RequestType"/>
<xsd:element name="Put_External_URL_Request" type="wd:Put_External_URL_RequestType"/>
<xsd:element name="Put_External_URL_Response" type="wd:Put_External_URL_ResponseType"/>
<xsd:element name="Put_Holiday_Calendar_Request" type="wd:Put_Holiday_Calendar_RequestType"/>
<xsd:element name="Put_Holiday_Calendar_Response" type="wd:Put_Holiday_Calendar_ResponseType"/>
<xsd:element name="Put_Work_Schedule_Calendar_Request" type="wd:Put_Work_Schedule_Calendar_RequestType"/>
<xsd:element name="Put_Work_Schedule_Calendar_Response" type="wd:Put_Work_Schedule_Calendar_ResponseType"/>
<xsd:element name="Get_Work_Schedule_Calendars_Response" type="wd:Get_Work_Schedule_Calendars_ResponseType"/>
<xsd:element name="Get_Organization_Assignment_Restrictions_Request" type="wd:Get_Organization_Assignment_Restrictions_RequestType"/>
<xsd:element name="Get_Organization_Assignment_Restrictions_Response" type="wd:Get_Organization_Assignment_Restrictions_ResponseType"/>
<xsd:element name="Put_Organization_Assignment_Restrictions_Request" type="wd:Put_Organization_Assignment_Restrictions_RequestType"/>
<xsd:element name="Put_Organization_Assignment_Restrictions_Response" type="wd:Put_Organization_Assignment_Restrictions_ResponseType"/>
<xsd:element name="Get_Frequencies_Request" type="wd:Get_Frequencies_RequestType"/>
<xsd:element name="Get_Frequencies_Response" type="wd:Get_Frequencies_ResponseType"/>
<xsd:element name="Put_Frequency_Request" type="wd:Put_Frequency_RequestType"/>
<xsd:element name="Put_Frequency_Response" type="wd:Put_Frequency_ResponseType"/>
<xsd:element name="Put_Company_Insider_Type_Request" type="wd:Put_Company_Insider_Type_RequestType"/>
<xsd:element name="Put_Company_Insider_Type_Response" type="wd:Put_Company_Insider_Type_ResponseType"/>
<xsd:element name="Get_Company_Insider_Types_Request" type="wd:Get_Company_Insider_Types_RequestType"/>
<xsd:element name="Get_Company_Insider_Types_Response" type="wd:Get_Company_Insider_Types_ResponseType"/>
<xsd:element name="Get_Disabilities_Request" type="wd:Get_Disabilities_RequestType"/>
<xsd:element name="Get_Disabilities_Response" type="wd:Get_Disabilities_ResponseType"/>
<xsd:element name="Put_Disability_Request" type="wd:Put_Disability_RequestType"/>
<xsd:element name="Put_Disability_Response" type="wd:Put_Disability_ResponseType"/>
<xsd:element name="Put_Job_Category_Request" type="wd:Put_Job_Category_RequestType"/>
<xsd:element name="Put_Job_Category_Response" type="wd:Put_Job_Category_ResponseType"/>
<xsd:element name="Get_Job_Categories_Response" type="wd:Get_Job_Categories_ResponseType"/>
<xsd:element name="Put_Work_Shift_Request" type="wd:Put_Work_Shift_RequestType"/>
<xsd:element name="Put_Work_Shift_Response" type="wd:Put_Work_Shift_ResponseType"/>
<xsd:element name="Get_Work_Shifts_Response" type="wd:Get_Work_Shifts_ResponseType"/>
<xsd:element name="Put_Job_Profile_Request" type="wd:Put_Job_Profile_RequestType"/>
<xsd:element name="Put_Job_Profile_Response" type="wd:Put_Job_Profile_ResponseType"/>
<xsd:element name="Get_Job_Profiles_Request" type="wd:Get_Job_Profiles_RequestType"/>
<xsd:element name="Get_Job_Profiles_Response" type="wd:Get_Job_Profiles_ResponseType"/>
<xsd:element name="Get_Ethnicities_Request" type="wd:Get_Ethnicities_RequestType"/>
<xsd:element name="Get_Ethnicities_Response" type="wd:Get_Ethnicities_ResponseType"/>
<xsd:element name="Put_Ethnicity_Request" type="wd:Put_Ethnicity_RequestType"/>
<xsd:element name="Put_Ethnicity_Response" type="wd:Put_Ethnicity_ResponseType"/>
<xsd:element name="Get_Training_Types_Request" type="wd:Get_Training_Types_RequestType"/>
<xsd:element name="Get_Training_Types_Response" type="wd:Get_Training_Types_ResponseType"/>
<xsd:element name="Put_Training_Type_Request" type="wd:Put_Training_Type_RequestType"/>
<xsd:element name="Put_Training_Type_Response" type="wd:Put_Training_Type_ResponseType"/>
<xsd:element name="Get_Job_Classification_Groups_Request" type="wd:Get_Job_Classification_Groups_RequestType"/>
<xsd:element name="Get_Job_Classification_Groups_Response" type="wd:Get_Job_Classification_Groups_ResponseType"/>
<xsd:element name="Put_Job_Classification_Group_Request" type="wd:Put_Job_Classification_Group_RequestType"/>
<xsd:element name="Put_Job_Classification_Group_Response" type="wd:Put_Job_Classification_Group_ResponseType"/>
<xsd:element name="Get_Job_Families_Request" type="wd:Get_Job_Families_RequestType"/>
<xsd:element name="Get_Job_Families_Response" type="wd:Get_Job_Families_ResponseType"/>
<xsd:element name="Put_Job_Family_Request" type="wd:Put_Job_Family_RequestType"/>
<xsd:element name="Put_Job_Family_Response" type="wd:Put_Job_Family_ResponseType"/>
<xsd:element name="Get_Job_Family_Groups_Request" type="wd:Get_Job_Family_Groups_RequestType"/>
<xsd:element name="Get_Job_Family_Groups_Response" type="wd:Get_Job_Family_Groups_ResponseType"/>
<xsd:element name="Put_Job_Family_Group_Request" type="wd:Put_Job_Family_Group_RequestType"/>
<xsd:element name="Put_Job_Family_Group_Response" type="wd:Put_Job_Family_Group_ResponseType"/>
<xsd:element name="Put_Location_Request" type="wd:Put_Location_RequestType"/>
<xsd:element name="Put_Location_Response" type="wd:Put_Location_ResponseType"/>
<xsd:element name="Put_Assign_User-Based_Security_Groups_Request" type="wd:Put_Assign_User-Based_Security_Groups_RequestType"/>
<xsd:element name="Get_Assign_User-Based_Security_Groups_Request" type="wd:Get_Assign_User-Based_Security_Groups_RequestType"/>
<xsd:element name="Get_Assign_User-Based_Security_Groups_Response" type="wd:Get_Assign_User-Based_Security_Groups_ResponseType"/>
<xsd:element name="Put_Assign_User-Based_Security_Groups_Response" type="wd:Put_Assign_User-Based_Security_Groups_ResponseType"/>
<xsd:element name="Get_Related_Person_Relationships_Request" type="wd:Get_Related_Person_Relationships_RequestType"/>
<xsd:element name="Get_Related_Person_Relationships_Response" type="wd:Get_Related_Person_Relationships_ResponseType"/>
<xsd:element name="Put_Related_Person_Relationship_Request" type="wd:Put_Related_Person_Relationship_RequestType"/>
<xsd:element name="Put_Related_Person_Relationship_Response" type="wd:Put_Related_Person_Relationship_ResponseType"/>
<xsd:element name="Get_Difficulty_to_Fill_Request" type="wd:Get_Difficulty_to_Fill_RequestType"/>
<xsd:element name="Get_Difficulty_to_Fill_Response" type="wd:Get_Difficulty_to_Fill_ResponseType"/>
<xsd:element name="Put_Difficulty_to_Fill_Request" type="wd:Put_Difficulty_to_Fill_RequestType"/>
<xsd:element name="Put_Difficulty_to_Fill_Response" type="wd:Put_Difficulty_to_Fill_ResponseType"/>
<xsd:element name="Get_Worker_Photos_Request" type="wd:Get_Worker_Photos_RequestType"/>
<xsd:element name="Get_Worker_Photos_Response" type="wd:Get_Worker_Photos_ResponseType"/>
<xsd:element name="Put_Worker_Photo_Request" type="wd:Put_Worker_Photo_RequestType"/>
<xsd:element name="Put_Worker_Photo_Response" type="wd:Put_Worker_Photo_ResponseType"/>
<xsd:element name="Manage_Union_Membership_Request" type="wd:Manage_Union_Membership_RequestType"/>
<xsd:element name="Manage_Union_Membership_Response" type="wd:Manage_Union_Membership_ResponseType"/>
<xsd:element name="Get_Academic_Ranks_Request" type="wd:Get_Academic_Ranks_RequestType"/>
<xsd:element name="Get_Academic_Ranks_Response" type="wd:Get_Academic_Ranks_ResponseType"/>
<xsd:element name="Put_Academic_Rank_Request" type="wd:Put_Academic_Rank_RequestType"/>
<xsd:element name="Put_Academic_Rank_Response" type="wd:Put_Academic_Rank_ResponseType"/>
<xsd:element name="End_Academic_Appointment_Request" type="wd:End_Academic_Appointment_RequestType"/>
<xsd:element name="Academic_Appointment_Response" type="wd:Academic_Appointment_ResponseType"/>
<xsd:element name="Get_Provisioning_Groups_Request" type="wd:Get_Provisioning_Groups_RequestType"/>
<xsd:element name="Provisioning_Groups_Response" type="wd:Provisioning_Groups_ResponseType"/>
<xsd:element name="Add_Academic_Appointment_Request" type="wd:Add_Academic_Appointment_RequestType"/>
<xsd:element name="Update_Academic_Appointment_Request" type="wd:Update_Academic_Appointment_RequestType"/>
<xsd:element name="Put_Provisioning_Group_Request" type="wd:Put_Provisioning_Group_RequestType"/>
<xsd:element name="Get_Provisioning_Group_Assignments_Request" type="wd:Get_Provisioning_Group_Assignments_RequestType"/>
<xsd:element name="Provisioning_Group_Assignments_Response" type="wd:Provisioning_Group_Assignments_ResponseType"/>
<xsd:element name="Put_Provisioning_Group_Assignment_Request" type="wd:Put_Provisioning_Group_Assignment_RequestType"/>
<xsd:element name="Put_Provisioning_Group_Assignment_Response" type="wd:Put_Provisioning_Group_Assignment_ResponseType"/>
<xsd:element name="Put_Provisioning_Group_Response" type="wd:Put_Provisioning_Group_ResponseType"/>
<xsd:element name="Get_Search_Settings_Request" type="wd:Get_Search_Settings_RequestType"/>
<xsd:element name="Get_Search_Settings_Response" type="wd:Get_Search_Settings_ResponseType"/>
<xsd:element name="Put_Search_Settings_Request" type="wd:Put_Search_Settings_RequestType"/>
<xsd:element name="Put_Search_Settings_Response" type="wd:Put_Search_Settings_ResponseType"/>
<xsd:element name="Put_Addresses_for_Country_Format_Extension_Request" type="wd:Put_Addresses_for_Country_Format_Extension_RequestType"/>
<xsd:element name="Put_Addresses_for_Country_Format_Extension_Response" type="wd:Put_Addresses_for_Country_Format_Extension_ResponseType"/>
<xsd:element name="Put_Previous_System_Job_History_Response" type="wd:Put_Previous_System_Job_History_ResponseType"/>
<xsd:element name="Put_Previous_System_Job_History_Request" type="wd:Put_Previous_System_Job_History_RequestType"/>
<xsd:element name="Maintain_Contact_Information_for_Person_Event_Request" type="wd:Maintain_Contact_Information_for_Person_Event_RequestType"/>
<xsd:element name="Maintain_Contact_Information_for_Person_Event_Response" type="wd:Maintain_Contact_Information_for_Person_Event_ResponseType"/>
<xsd:element name="Get_Service_Center_Representatives_Request" type="wd:Get_Service_Center_Representatives_RequestType"/>
<xsd:element name="Get_Service_Center_Representatives_Response" type="wd:Get_Service_Center_Representatives_ResponseType"/>
<xsd:element name="Put_Service_Center_Representative_Request" type="wd:Put_Service_Center_Representative_RequestType"/>
<xsd:element name="Put_Service_Center_Representative_Response" type="wd:Put_Service_Center_Representative_ResponseType"/>
<xsd:element name="Get_Service_Center_Representative_Workday_Accounts_Request" type="wd:Get_Service_Center_Representative_Workday_Accounts_RequestType"/>
<xsd:element name="Get_Service_Center_Representative_Workday_Accounts_Response" type="wd:Get_Service_Center_Representative_Workday_Accounts_ResponseType"/>
<xsd:element name="Put_Service_Center_Representative_Workday_Account_Request" type="wd:Put_Service_Center_Representative_Workday_Account_RequestType"/>
<xsd:element name="Put_Service_Center_Representative_Workday_Account_Response" type="wd:Put_Service_Center_Representative_Workday_Account_ResponseType"/>
<xsd:element name="Change_Background_Check_Status_Request" type="wd:Change_Background_Check_Status_RequestType"/>
<xsd:element name="Change_Background_Check_Status_Response" type="wd:Change_Background_Check_Status_ResponseType"/>
<xsd:element name="Get_Academic_Units_Request" type="wd:Get_Academic_Units_RequestType"/>
<xsd:element name="Get_Academic_Units_Response" type="wd:Get_Academic_Units_ResponseType"/>
<xsd:element name="Put_Academic_Unit_Request" type="wd:Put_Academic_Unit_RequestType"/>
<xsd:element name="Put_Academic_Unit_Response" type="wd:Put_Academic_Unit_ResponseType"/>
<xsd:element name="Get_Academic_Unit_Hierarchies_Request" type="wd:Get_Academic_Unit_Hierarchies_RequestType"/>
<xsd:element name="Get_Academic_Unit_Hierarchies_Response" type="wd:Get_Academic_Unit_Hierarchies_ResponseType"/>
<xsd:element name="Put_Academic_Unit_Hierarchy_Request" type="wd:Put_Academic_Unit_Hierarchy_RequestType"/>
<xsd:element name="Put_Academic_Unit_Hierarchy_Response" type="wd:Put_Academic_Unit_Hierarchy_ResponseType"/>
<xsd:element name="Get_Political_Affiliations_Request" type="wd:Get_Political_Affiliations_RequestType"/>
<xsd:element name="Get_Political_Affiliations_Response" type="wd:Get_Political_Affiliations_ResponseType"/>
<xsd:element name="Put_Political_Affiliation_Request" type="wd:Put_Political_Affiliation_RequestType"/>
<xsd:element name="Put_Political_Affiliation_Response" type="wd:Put_Political_Affiliation_ResponseType"/>
<xsd:element name="Put_Import_Process_Response" type="wd:Put_Import_Process_ResponseType"/>
<xsd:attribute name="version" type="xsd:string" wd:fixed="v42.1"/>
</xsd:schema>
